@font-face {
  font-family: "iconfont"; /* Project id 2258019 */
  src: url('iconfont.woff2?t=1626341319806') format('woff2'),
       url('iconfont.woff?t=1626341319806') format('woff'),
       url('iconfont.ttf?t=1626341319806') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dpcp-woderenwu-weixuan1:before {
  content: "\e63d";
}

.icon-dpcp-woderenwu-weixuan:before {
  content: "\e63c";
}

.icon-dpcp-ellipsis:before {
  content: "\e600";
}

.icon-dpcp-gengxin_datu:before {
  content: "\e632";
}

.icon-dpcp-peizhirenyuan-zhengchang1:before {
  content: "\e631";
}

.icon-dpcp-icon_close:before {
  content: "\e62a";
}

.icon-dpcp-tuihui1:before {
  content: "\e648";
}

.icon-dpcp-yiluru1:before {
  content: "\e649";
}

.icon-dpcp-paixu_down:before {
  content: "\e623";
}

.icon-dpcp-guanbi:before {
  content: "\e624";
}

.icon-dpcp-renyuan:before {
  content: "\e625";
}

.icon-dpcp-chongzhi:before {
  content: "\e626";
}

.icon-dpcp-renwu_press:before {
  content: "\e627";
}

.icon-dpcp-jiantou_write:before {
  content: "\e628";
}

.icon-dpcp-shoushizhe:before {
  content: "\e629";
}

.icon-dpcp-tupian_press:before {
  content: "\e62c";
}

.icon-dpcp-daojishi-gaoliang:before {
  content: "\e65a";
}

.icon-dpcp-fangda:before {
  content: "\e65b";
}

.icon-dpcp-renwuguangchang-weixuan:before {
  content: "\e65d";
}

.icon-dpcp-shijian:before {
  content: "\e660";
}

.icon-dpcp-Check-Circle-tongguo:before {
  content: "\e663";
}

.icon-dpcp-arrow_down:before {
  content: "\e664";
}

.icon-dpcp-Check-Circle-tuihui:before {
  content: "\e665";
}

.icon-dpcp-info-circle-fill:before {
  content: "\e666";
}

.icon-dpcp-close:before {
  content: "\e667";
}

.icon-dpcp-tianjia-01:before {
  content: "\e668";
}

